html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Style for the title of the create view form */
.h1-sized-input {
    font-size: 2em;
    padding: 0.25em;
    line-height: 1.2em;
}

/* General styles for the site */
body {
    background-color: #02182b;
    color: #edf7f6;
}
/* Custom styles for the details view */
.noteContent {
    line-height: 1.67;
    margin-top: 1rem;
    background-color: #b5f8fe14;
    padding: 2em 1em;
}

.noteContent code,
.noteContent pre {
    border: 1px solid #b5f8fe99;
    padding: 2px 4px;
}

.noteContent code {
    border-radius: 3px;
}

.noteContent pre{
    border: none;
}

.noteContent p {
    font-family: "Futura Bk Bt", Helvetica, sans-serif;
}

.noteContent li code,
.noteContent p code {
    white-space: nowrap;
    padding: 2px 4px;
    background-color: #02182b;
    color: #b5f8fe;
}

code{
    font-size: 0.85em;
}

/* Editor container styles*/
.editor-container__editor{
    color: initial;
}
