@model Note

<h2>Write a secret recipe...</h2>

<form asp-action="Create" method="post">
    @* The CKEditor 5 *@
    <div>
        <div class="main-container">
            <div class="editor-container editor-container_classic-editor" id="editor-container">
                <div class="form-group mb-2">
                    <input asp-for="Title" class="form-control ps-1 h1-sized-input" placeholder="Type your title here" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="editor-container__editor">
                    <textarea asp-for="Content" id="editor"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group d-flex col-md-6 mt-2 gap-3">
        <button type="submit" class="btn btn-primary w-50">Save Note</button>

        <a class="btn btn-outline-primary w-50" asp-controller="Notes" asp-action="Index">Back To All Notes</a>
    </div>
</form>

@{
    <link href="~/lib/ckeditor-5/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/42.0.0/ckeditor5.css">
}

@section Scripts{
    <script type="importmap">
        {
            "imports": {
                "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/42.0.0/ckeditor5.js",
                "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/42.0.0/"
            }
        }
    </script>
    <script type="module" src="~/lib/ckeditor-5/main.js"></script>
}