@model Note

<h1>Update note</h1>

<form asp-action="Edit" method="post">
    <div class="form-group mb-2">
        <label asp-for="Title" class="control-label">Title:</label>
        <input asp-for="Title" class="form-control ps-1" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group mb-2">
        <label asp-for="Content" class="control-label">Content:</label>
        <textarea asp-for="Content" class="form-control ps-1"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <div class="form-group d-flex col-md-6 mt-2 gap-3">
        <button type="submit" class="btn btn-primary w-50">Save Note</button>

        <a class="btn btn-outline-primary w-50" asp-controller="Notes" asp-action="Index">Back To All Notes</a>
    </div>
</form>
