@model IEnumerable<Note>

<h1>All notes</h1>

<a asp-controller="Notes" asp-action="Create" class="btn btn-primary">Take a note...</a>

<input type="search" placeholder="Search notes" />

<div class="container">
    <div class="row">
        @foreach (var note in Model)
        {
            <div class="row d-grid col-3">
                <a class="noteItem" asp-controller="Notes" asp-action="Details" asp-route-id="@note.Id">
                    <h4>@note.Title</h4>
                    <h6>@note.LastUpdatedDate.ToCustomDateString()</h6>
                </a>
            </div>
        }
    </div>
</div>


@{
    <style>
        .noteItem{
            color: #292150;
            padding: 0.75em 0.35em;
            border: 1px solid #9990FF80;
            border-radius: 15px;
            text-decoration: none;
        }

        .noteItem:hover {
                color: #292150;
            background-color: #c8c8ff;
        }

        .noteItem h6{
            font-size: 0.8em;
        }
    </style>
}
