@model IEnumerable<Note>

<h1>All notes</h1>

<div class="input-group mb-3 searchNotes">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    <button type="button" class="btn btn-outline-primary">search</button>
</div>

<a asp-controller="Notes" asp-action="Upsert" class="btn btn-primary takeNote">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
    </svg>
    Add New Note
</a>

<div class="container">
    <div class="row row-cols-2 row-cols-md-4 g-2">
    @foreach (var note in Model)
    {
            <div class="col d-grid">
                <a class="noteItem" asp-controller="Notes" asp-action="Details" asp-route-id="@note.Id">
                    <h4>@note.Title</h4>
                    <h6>@note.LastUpdatedDate.ToCustomDateString()</h6>
                </a>
            </div>
    }
        </div>
</div>


@{
    <style>
        .searchNotes:focus-within{
            outline: 2px solid #b5f8fe;
            border-radius: 5px;
        }
        .searchNotes input,
        .searchNotes input:focus{
            background-color: transparent;
            border-radius: 5px 0 0 5px !important;
            border: 1px solid #edf7f6;
            color: #edf7f6;
            box-shadow: none;
        }
        .searchNotes button{
            border-radius: 0 5px 5px 0;
            border-color: #edf7f6;
            background-color: #edf7f6;
            color: #02182b;
        }

        .searchNotes button:hover{
            border-color: #edf7f6;
            background-color: #b5f8fe;
            color: #02182b;
        }
        .noteItem{
            display: block;
            color: #edf7f6dd;
            padding: 0.75em 0.35em;
            padding-block-end: 3em;
            border: 1px solid #b5f8fe99;
            border-radius: 10px;
            text-decoration: none;
            position: relative;
        }

        .noteItem:hover {
                color: #edf7f6dd;
                background-color: #b5f8fe22;
        }

            .noteItem h4{
                font-weight:700;
                font-size: 90%;
            }

        .noteItem h6{
                font-size: 80%;
                position: absolute;
            bottom: 5px;
        }

        .takeNote {
            background-color: #b5f8fe;
            border-color: #b5f8fe;
            color: #02182b;
            padding-block: 0.7em;
            position: fixed;
            border-radius: 50px;
            bottom: calc(0vh + 20px);
            left: 50%;
            transform: translateX(-50%);
            z-index: 1000;
        }
        .takeNote:hover{
                border-color: #b5f8fe;
                background-color: #02182b;
                color: #b5f8fe;
        }
        .takeNote svg{
            vertical-align: sub;
        }
    </style>
}
