@using Clinch_Recipes.UserEntity
@model LoginModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<a class="btn btn-primary" asp-controller="Notes" asp-action="Index">Back To Homepage</a>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div style="color: red">@ViewBag.ErrorMessage</div>
}

<form method="post">
    <div>
        <label for="username">Username</label>
        <input asp-for="Email" type="text" />
    </div>
    <div>
        <label for="password">Password</label>
        <input asp-for="Password" type="password" />
    </div>
    <button type="submit">Login</button>
</form>
